    <mtapp:setting
        id="check_str_from"
        label="<__trans phrase="Check string(from)">">
    <ul>
        <li>
            <input type="text" value="<mt:var name="check_str_from" escape="HTML">" name="check_str_from" id="check_str_from" style="width:470px" />
        </li>
    </ul>
    </mtapp:setting>
    